MANDATORY REQUIREMENTS:
1) Minimum 3 years of professional experience developing full stack applications with nodejs and vue.
2) Minimum 1 yeear of professional experience with building webrtc video applications.
3) Professional experience deploying web applications using cloud platforms such as AWS or GCP or Azure.
4) Strong problem-solving skills and ability to independently research and implement new development methodologies.

PLUS REQUIREMENTS (do not reject if missing; only increase rating if present):
1) Must reside in the United States (do not reject if location is not explicitly mentioned).
2) Experience in healthcare space. (not required).
3) Experience with devops CI/CD, kubernetes, docker (not required).
